<%= link_to "&larr; Back".html_safe, posts_path %>
<article>
  <h2><%= @post.title %></h2>
  <time>Updated <%= @post.updated_at %></time>
  <p><%= @post.body %></p>
  <%= link_to "Edit Post", edit_post_path(@post) %>
  <%= link_to "Delete Post", post_path(@post), method: :delete %>
</article>